[2018-11-29 18:37] domyen opened #1 "🛠New Storybook website"
## New Storybook website
🎉Storybook is getting a brand new website. This ticket documents the project.

If you want to help with the buildout let folks know in the comments.

[**🖼 Design in Invision**](https://projects.invisionapp.com/share/CBP627YE7YX#/331888311_-Home)
- It is interactive. You can click on links or just page through with arrow keys.
- There are videos/gifs in the design, but alas

[2018-12-01 13:39] KeithMcKiernan commented on #1
@domyen The new design's look awesome, great job.

Would be more than happy to help out with the dev. 👍

[2018-12-12 13:01] dakebl commented on #1
@domyen also happy to help. Could you provide some specific tasks for contributors to help with?

[2018-12-12 15:48] domyen commented on #1
@dakebl Awesome! I'm prepping the project to make it easy for contributors now so expect some more action in the next few days. It seems like you know a bit more about Gatsby than I do (😅). I'd love a Gatsby best practices audit from a more knowledgeable source!

[2018-12-13 20:52] dakebl commented on #1
That's great @domyen, thank you! I've only contributed and worked with Gatsby a little, but I'm happy to share anything that I do know 😆 Looking forward to helping out!

[2018-12-13 23:06] domyen opened #3 "Hook up mailing list form"
@tmeasday volunteered to help out 🙏

- [ ] Make [MailinglistSubscribeForm](http://localhost:6006/?selectedKind=layout%2FMailingListSubscribeForm&selectedStory=basic&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) submission and errors self-contained
~- [ ] Setup mocks for StaticQuery in Gatsby. Or if that's not the right way to do things, please recommend a w

[2018-12-13 23:07] domyen opened #4 "Fix console errors and warnings"
Audit components and fix console errors and warnings.

[2018-12-13 23:11] domyen opened #5 "ComponentCanvas carousel functionality"
<img width="574" alt="screenshot 2018-12-13 18 08 17" src="https://user-images.githubusercontent.com/263385/49973195-27599580-ff02-11e8-9185-a76f8b168000.png">

**Behavior**
- When you click on a logo it should load a new animated gif that corresponds with the brand (already exported)

**[Storybook local URL](http://localhost:6006/?selectedKind=screens%2FUseCasesScreen%2FComponentCanvas&selectedSt

[2018-12-13 23:12] domyen opened #6 "ComponentList carousel functionality"
<img width="1002" alt="screenshot 2018-12-13 18 08 30" src="https://user-images.githubusercontent.com/263385/49973297-89b29600-ff02-11e8-8e70-818839503a12.png">

**Behavior**
- When you click on a logo it should switch out the component items with images that correspond to the brand. These are already exported in a directory.

**[Storybook local url](http://localhost:6006/?selectedKind=screens%2FU

[2018-12-13 23:17] domyen opened #7 "Video quality perf optimization"
![screen recording 2018-12-13 at 06 14 pm](https://user-images.githubusercontent.com/263385/49973415-faf24900-ff02-11e8-8e32-57a6adb2eda6.gif)

**Behavior**
There are videos on the site at two quality levels. For smaller/mobile screens I want to load the lighter-weight video to decrease page load time. For larger/desktop screens I want to load the normal video because it's higher quality.

**Reque

[2018-12-13 23:22] domyen opened #8 "Get open collective sponsors and display them on UseCasesScreen"
<img width="1065" alt="screenshot 2018-12-13 18 21 08" src="https://user-images.githubusercontent.com/263385/49973631-e19dcc80-ff03-11e8-96a2-51db28cffe1c.png">

**Behavior**
- Load 9 sponsors from open collective

**[Relevant story in local SB](http://localhost:6006/?selectedKind=screens%2FCommunityScreen%2FCommunityScreen&selectedStory=not%20subscribed&full=0&addons=1&stories=1&panelRight=0&addo

[2018-12-13 23:25] domyen opened #9 "Gatsby best practices audit"
Would appreciate a Gatsby audit.
- Are there low-hanging fruits we can do for speed/perf?
- Are there best practices that we should definitely adhere to?

[Deploy preview here](https://dazzling-chandrasekhar-c337aa.netlify.com/). PRs definitely welcome.

[2018-12-13 23:27] domyen opened #10 "Get contributor count from GitHub"
<img width="496" alt="screenshot 2018-12-13 18 25 42" src="https://user-images.githubusercontent.com/263385/49973820-9506c100-ff04-11e8-8699-e6f7ee92d943.png">

**Behavior**
- Get contributor count from GitHub asynchronously

[Relevant Storybook local URL](http://localhost:6006/?selectedKind=screens%2FCommunityScreen%2FCommunityHero&selectedStory=not%20subscribed&full=0&addons=1&stories=1&panelRig

[2018-12-13 23:28] domyen opened #11 "Get monthly installs from NPM"
<img width="496" alt="screenshot 2018-12-13 18 25 42" src="https://user-images.githubusercontent.com/263385/49973858-c41d3280-ff04-11e8-8c76-9b570bbd458d.png">

**Behavior**
- Get/calculate monthly installs from NPM

[**Relevant Storybook URL**](http://localhost:6006/?selectedKind=screens%2FCommunityScreen%2FCommunityHero&selectedStory=not%20subscribed&full=0&addons=1&stories=1&panelRight=0&addonP

[2018-12-13 23:30] domyen opened #12 "Performance audit and speed enhancements"
This is a general request to help improve site speed and performance. You can find the deploy preview of `master` [**👉here👈**](https://dazzling-chandrasekhar-c337aa.netlify.com/)

We get a lot of stuff out of the box from Gatsby, but I'm sure inefficiencies remain.

[**PageSpeed Insights score**](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fdazzling-chandrasekhar-c337a

[2018-12-13 23:34] domyen commented on #1
I updated the [issues](https://github.com/storybooks/frontpage/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) with tasks I could use help on.

I think the process can be pretty lightweight:
1. Folks can claim the task by commenting on the issue
2. I'll assign the the task to someone
3. Open a PR to the storybooks/frontpage with a link to the issue #

[2018-12-14 02:55] tmeasday commented on #3
@domyen eslint added. Do you want me to fix the problems?

[2018-12-14 04:15] tmeasday commented on #3
Chromatic is working again

[2018-12-14 06:39] tmeasday commented on #3
@domyen I fixed a lot of the linting but not all of it. Maybe you can have a stab at it? Run `yarn lint` to see the remaining 136 problems

[2018-12-14 19:33] #6 closed

[2018-12-14 19:34] #5 closed

[2018-12-14 20:09] domyen opened #13 "Add <meta> tags via react-helmet"
Figure out where and how to do this in Gatsby

[2018-12-14 22:15] tmeasday commented on #3
I created the netlify site here: https://app.netlify.com/sites/happy-tesla-010e19/overview it seems to have even more problems

[2018-12-17 04:32] tmeasday commented on #3
I think everything is sorted apart from the mailinglist form.

[2018-12-17 23:44] domyen commented on #13
Done

[2018-12-17 23:44] #13 closed

[2018-12-18 18:04] domyen commented on #8
Done.

[2018-12-18 18:04] #8 closed

[2018-12-18 21:33] domyen opened #14 "Get testimonials"

[2018-12-19 22:31] domyen opened #15 "Get latest blog posts from Medium"
Retrieve the latest blog posts from [Storybook's Medium](https://medium.com/storybookjs).

This package might help:
https://github.com/nikolaevra/medium-get-latest-posts

[2018-12-20 20:30] Keraito opened #16 "Error on initial Storybook launch"
I freshly cloned the repository and ran `yarn install` ->  `yarn run storybook` as per the documentation, but was faced with the following errors:

[code]
Starting the gatsby server via `yarn start` works correctly though.

I tried removing `node_modules` and run `yarn install` again, but that didn't fix it. Using `npm install` -> `npm run storybook` succeeds though. After correctly launching via

[2018-12-20 22:21] Keraito commented on #16
I don't think that's really a long term solution with the popularity of yarn and how Storybook uses yarn in almost all of its documentation 🤔 let's start by checking whether this is reproducible for others? (fresh clone > yarn install > yarn run storybook)

[2018-12-21 15:19] Keraito commented on #10
I tried my hand on this issue, but there's a limitation with the information that the Github API provides.

The [contributors endpoint](https://developer.github.com/v3/repos/#list-contributors) only provides me 30 contributors (ordered on amount of activity) and the [repo stats endpoint](https://developer.github.com/v3/repos/statistics/#get-contributors-list-with-additions-deletions-and-commit-cou

[2018-12-21 17:10] domyen commented on #10
Thanks for trying this out @Keraito. I just tried querying the GitHub API using [this trick](https://stackoverflow.com/questions/44347339/github-api-how-efficiently-get-the-total-contributors-amount-per-repository).

`curl -I "https://api.github.com/repos/storybooks/storybook/contributors?per_page=1"`

Where you ask for 1 contributor per page and count the number of pages. But it didn't give me th

[2018-12-22 13:19] Keraito commented on #15
Taking a shot at this 😃

[2018-12-23 09:47] dakebl commented on #11
@lucas-carl You should be able to use npm's own internal API for this: https://github.com/npm/registry/blob/master/docs/download-counts.md

[2018-12-23 15:49] domyen commented on #16
@dakebl thanks! Just reproduced this solution on a fresh install. I'll update the readme accordingly.

[2018-12-23 15:53] #16 closed

[2018-12-23 15:59] domyen commented on #11
@lucas-carl I added you as a collaborator to this repo, I'll assign you this ticket when the invite is accepted!

[2018-12-23 16:55] lucas-carl commented on #11
@domyen So, of which NPM package(s) do we count the installs? Is it just the @storybook/cli package? Or should I calculate the sum of all @storybook/* packages?

[2018-12-26 20:48] domyen commented on #11
@lucas-carl sum of all storybook framework packages:
- React
- React native
- Vue
- Angular
- Ember
- HTML
- Svelte
- Mithril
- Riot

[2018-12-27 10:33] lucas-carl commented on #10
@Keraito @domyen It turns out, that you have to add `anon=true` to the query, because github makes users over a count of 500 anonymous.
See: https://github.community/t5/GitHub-API-Development-and/API-Github-list-contributors/td-p/9631
Hope it helps.

[2018-12-27 15:04] domyen commented on #10
Good suggestion! By adding `anon=true` I get:

`Link: <https://api.github.com/repositories/54173593/contributors?per_page=1&anon=true&page=2>; rel="next", <https://api.github.com/repositories/54173593/contributors?per_page=1&anon=true&page=656>; rel="last"`

This indicates there are 656 total contributors. GitHub reports 571.
<img width="167" alt="screenshot 2018-12-27 10 01 00" src="https://user-

[2018-12-30 10:39] #11 closed

[2018-12-31 21:30] dakebl commented on #10
What about scraping it from the page using cheerio and run it as the first step of `yarn build`, writing the result to a file (or to npm config), and referencing that in the code?

I raised a PR to show this in action: https://github.com/storybooks/frontpage/pull/18

[2019-01-14 09:30] Keraito commented on #15
Ran into some CORS related stuff as the official Medium's API has no read endpoint, so instead have to use https://medium.com/storybookjs/latest?format=json as also done in the package linked in the OG comment.

I will try to get working on it again somewhere this week. Does someone have good tips for how to work around CORS in local development? I keep struggling with it 😢

[2019-01-17 20:28] domyen commented on #15
Not sure, this [article](https://hackernoon.com/import-your-medium-feed-into-react-ceadbaf785c7) _might_ help?

[2019-01-17 21:20] domyen opened #19 "Add addons from the docs here"
Add addons from docs to the community addons section. Make sure they're still maintained (will omit if they're not up to date).

[2019-01-17 22:00] Keraito commented on #15
Hmm yeah, unfortunately, it seems unavoidable to have some 3rd server/service in between for local development. Thanks for the link, will check it out!

[2019-01-18 02:32] tmeasday commented on #15
@Keraito -- this thing seems useful maybe? https://crossorigin.me

[2019-01-18 15:00] domyen commented on #10
@dakebl QAing this, any reason why this is showing a contributor count of 000 in Chromatic but not in my local Storybook?

- [In Chromatic](https://www.chromaticqa.com/snapshot?appId=5be26744d2f6250024a9117d&id=5c41e9526bf4e5002464bba2)
- [In Storybook (you have to run it)](http://localhost:6006/?selectedKind=screens%2FCommunityScreen%2FCommunityHero&selectedStory=default&full=0&addons=1&stories=1

[2019-01-20 22:14] dakebl commented on #10
Hey @domyen, the only thing I could think of is that there is some sort of weird caching ,or race condition, that's preventing us from properly fetching the value from the package config.

To address this I've created a gatsby plugin ([gatsby-source-github-repo](https://github.com/dakebl/gatsby-source-github-repo)) to fetch the data from the github page, using gatsby's internal graphql api, and ra

[2019-01-21 20:06] domyen commented on #10
@tmeasday should we just stub this data in for Chromatic since it's dynamic?

[2019-01-21 23:45] tmeasday commented on #10
@domyen I think so, definitely

[2019-01-22 17:08] #19 closed

[2019-01-22 22:38] dakebl commented on #15
@Keraito have you tried using [gatsby-source-medium](https://www.gatsbyjs.org/packages/gatsby-source-medium)?

[2019-01-22 23:36] Keraito commented on #15
I tried it with the proxies from both @domyen and @tmeasday but with little success. That Gatsby plugin looks promising yeah, will try it with that @dakebl!

[2019-01-23 07:42] dakebl commented on #10
They all seem to be working [In Chromatic](https://www.chromaticqa.com/snapshot?appId=5be26744d2f6250024a9117d&id=5c47c550ccb52e002457e410)., but I think we should reinstate the `+` in front of each component (as I had removed them all). What do you think? @domyen @tmeasday ?

[2019-01-23 20:46] dakebl commented on #10
Shall we close this one now @domyen?

[2019-01-23 20:47] domyen commented on #10
Yup, thanks for leading this Dale! 🙌

[2019-01-23 20:47] #10 closed

[2019-01-23 21:23] dakebl commented on #7
Can we add some simple vanilla viewport logic with `window.innerWidth`?
[code]

Should probably make a `Video` component to isolate this logic and use the component in both `IndexScreen` and `Hero`

[2019-01-24 19:51] domyen commented on #7
That proposal sounds like it could work! Want to have a go at it?

[2019-01-24 20:09] dakebl commented on #7
On it 👍

[2019-01-28 15:58] domyen commented on #7
Merged, much appreciated @dakebl 🙇‍♂️

[2019-01-28 15:58] #7 closed

[2019-01-28 15:59] domyen commented on #15
@Keraito How's it going - need a hand?

[2019-01-28 16:57] domyen commented on #3
@tmeasday did you ever get around to hooking up the `MailingListForm`?

[2019-01-28 18:00] isaac-martin commented on #15
Can also help if needed

[2019-01-28 18:01] isaac-martin commented on #12
I'll have a look at this

[2019-01-28 18:01] isaac-martin commented on #4
I can do this also if wanted. Do we need to log elsewhere or are they leftover Dev testing logs

[2019-01-28 18:14] domyen commented on #4
@isaac-martin that'd be awesome. It's definitely wanted and appreciated 🙏

No need to log elsewhere right now.

[2019-01-28 19:09] hakimelek commented on #12
Here is some little things I have noticed:

* It seems like `gatsby-plugin-web-font-loader` is causing FOUT. I prefer loading the font manually using react-helmet on the pages and pre-connect to google fonts before any js is loaded.
* I see that `gatsby-image` is setup but the img tags are not using it. If we serve images using WebP, it should slash some kbs on supported browsers.
* The SVG logo c

[2019-01-28 22:23] tmeasday commented on #3
Yes, didn't I?

[2019-01-31 02:07] isaac-martin commented on #14
Where are these coming from?

[2019-01-31 02:09] isaac-martin opened #25 "Refactor all images to use gatsby-image"
No images are using gatsby image - this will help with performance in #12
Docs are here. https://www.gatsbyjs.org/packages/gatsby-image/

i'm opening this but probably won't have time to look at it for the next little while.

[2019-01-31 02:10] isaac-martin commented on #3
Is this mailchimp? Looks like it? Netlify have lambda functions so we can hit the API, happy to refactor to do that if easier?

[2019-01-31 02:48] tmeasday commented on #3
@isaac-martin I'm not quite sure what you mean but sure, if you want to send PR!

[2019-01-31 16:17] domyen commented on #14
The SB maintainers are gathering these from prominent community members. There are 3 so far, so ideally two more to go. :D

[2019-01-31 16:30] domyen commented on #25
Sweet! I'm definitely stoked to see how `gatsby-image` works when implemented well.

I ran into an early hiccup trying it out (probably my own fault) so decided to wait for someone with more gatsby experience to come along. 🙏

[2019-01-31 17:05] isaac-martin commented on #25
Cool - let me see if i can get a half finished PR request implementing it on a couple of our images. That will open it up for wider implementation for everyone else who can dig in!

[2019-02-14 19:43] #3 closed

[2019-02-17 09:31] shilman opened #26 "Deploy to storybook.js.org"
- [x] storybook as submodule (on `release/5.0` branch for now)
- [x] build the docs under `/docs` on each deploy
   - https://github.com/storybooks/storybook/pull/5632
   - https://github.com/storybooks/frontpage/pull/27
- [ ] redirects for the old top-level URLs
  - [x] start with 302
  - [ ] change to 301 once tested
- [x] trigger a build by webhook on each storybook commit

[2019-03-03 00:24] #15 closed

[2019-03-05 16:50] domyen commented on #26
@shilman, the new site is out, is this issue done?

[2019-03-05 16:52] domyen commented on #1
Congrats everyone -- the website lives! Thank you @dakebl @Keraito @lucas-carl @tmeasday @isaac-martin @shilman!

I'm closing this issue; all bugs and features will be tracked in the remaining issues.

[2019-03-05 16:52] #1 closed

[2019-03-05 16:56] shilman commented on #26
I'll do the 301s now and close

[2019-03-05 16:56] #26 closed

[2019-03-08 18:10] dakebl commented on #4
Can this be closed now @domyen @isaac-martin?

[2019-03-08 18:10] dakebl commented on #25
Any update on this @isaac-martin?

[2019-03-08 19:59] domyen commented on #4
Closing. If someone finds a warning or error they can make another issue :D

[2019-03-08 19:59] #4 closed

[2019-03-08 21:46] jlengstorf commented on #9
Hey! 👋

One quick win would be to use `gatsby-image` for the benefit images (e.g. [here](https://github.com/storybooks/frontpage/blob/f144fedbb95d003d0eb9403a16db98c799fec43a/src/components/screens/IndexScreen/IndexScreen.js#L73)).

Another thing that you _could_ do (though it’s certainly not required) is to add your config info to the `gatsby-config.js` as site metadata. This makes it queryable i

[2019-03-19 09:47] shilman opened #31 "Restore community examples"
Storybook docs had an `examples` page which was a community-contributed gallery of storybooks. We removed this in favor of `/use-cases` but people want to see more examples with source code etc. Let's restore `/examples` but update it to match the new aesthetic.

[2019-03-20 08:17] lucas-carl commented on #12
## Ensure text remains visible during webfont load

I think we should use the font-display attribute for loading the webfonts. But i don't know how one would implement it in the code.

<img width="877" alt="Screenshot 2019-03-20 at 09 14 38" src="https://user-images.githubusercontent.com/13051923/54669046-a9082300-4af0-11e9-9119-14f74cdc5762.png">

https://developers.google.com/web/updates/2016/02

[2019-03-20 14:08] domyen commented on #12
@lucas-carl I looked into that, unfortunately it's not straightforward to implement with google fonts.

[2019-04-17 18:57] dakebl commented on #9
Thank you @jlengstorf, for taking the time to take a look at the project and providing us with the suggestions! It's much appreciated 🙌

I'm digging your [use-site-metadata.js](https://github.com/jlengstorf/gatsby-theme-jason-blog/blob/master/src/hooks/use-site-metadata.js) hook by the way. Using `useStaticQuery` to create custom query hooks is, \*_chef kiss_\*, beautiful.

@domyen @tmeasday
I'll

[2019-04-17 19:12] dakebl commented on #31
**For reference:**

Components:
https://github.com/storybooks/storybook/blob/4c757d05f162925217751bb5d61518c108d0935b/docs/src/pages/examples/index.jsx

https://github.com/storybooks/storybook/blob/4c757d05f162925217751bb5d61518c108d0935b/docs/src/components/Grid/Examples/index.js

Examples data source:
https://github.com/storybooks/storybook/blob/master/docs/src/pages/examples/_examples.yml

Is t

[2019-04-17 21:07] shilman commented on #31
I think @domyen wanted to redesign..

[2019-04-26 17:23] helenvholmes opened #35 "SSL Cert Failure"
It looks like there is either a configuration error or a DNS change that hasn't propagated properly yet for https://storybook.js.org/. As of 4/26 you're getting this error from Chrome:

<img width="485" alt="Storybook SSL failure" src="https://user-images.githubusercontent.com/1720093/56825170-71df0d00-6826-11e9-8acb-f165b69146fd.png">

[2019-04-26 17:50] shilman commented on #35
Not seeing this in my browsers or on SSL check. Can you double-check your connection @helenvholmes ?

https://www.ssllabs.com/ssltest/analyze.html?d=storybook.js.org

[2019-04-26 18:25] helenvholmes commented on #35
Weird, I'm not getting it anymore either—I'll close this out, sorry for the issue noise.

[2019-04-26 18:25] #35 closed

[2019-04-29 14:40] mscdex opened #36 "Partially missing title for 'Use cases' page"
Clicking on 'Use cases' shows a `<title>` of 'Use cases | undefined'.

[2019-05-06 09:08] domyen commented on #36
Nice thank you for the heads up. It was a regression.

[2019-05-06 15:30] shilman opened #40 "Highlight project maintainers on community page"
Lets's highlight sub-area maintainers on the Community page.

## Proposal

In https://github.com/storybooks/storybook/pull/6509 I added a config file `automention.yml` that maps github labels to maintainers who are willing to review PRs and provide user support around specific project areas, ranging from view layers such as `react`/`vue`/`angular` to addons like `knobs`/`storysource` to features l

[2019-05-07 08:32] #36 closed

[2019-05-17 23:20] domyen opened #43 "Storybook + Gatsby: Staticquery could not be fetched"
There is a StaticQuery error wherever we use `useSiteMetadata()` which queries GraphQL. This appears like best practices in Gatsby but is not working in our Storybook.

**Error**

In Gatsby's issue tracker 👉 https://github.com/gatsbyjs/gatsby/issues/10662

**Repro**
1. Clone /frontpage
2. `yarn install && yarn build && yarn run storybook`
3. Go to [IndexScreen:default](http://localhost:6007/?path=

[2019-05-19 22:49] dakebl commented on #43
Hey @domyen, I looked into it and it makes sense. Gatsby provides static files that are created during the initial compilation of the build process, which is when the GraphQL queries are run. This means that the data collected from the query has already been used to write the file that will be served as part of the production app.

In the Storybook context however, we render the component in isola

[2019-05-20 01:23] tmeasday commented on #43
🙌

[2019-05-20 21:23] domyen commented on #43
@dakebl You're a LEGEND! 👏

[2019-05-20 22:05] dakebl commented on #43
Glad I could help 😄

[2019-05-20 22:05] #43 closed

[2019-05-20 22:06] dakebl commented on #9
Shall we close this one @domyen?

[2019-05-20 22:13] dakebl commented on #12
@domyen I think we can look into the font loading again, now that google fonts have shipped font-display? https://addyosmani.com/blog/google-fonts-font-display/

[2019-05-21 00:56] #9 closed

[2019-05-21 01:02] dakebl commented on #12
I've created a PR for Typography.js, to add the config option of `fontDisplay` for this but for the moment we can handle it using the `styles` object. I'll raise a PR

[2019-05-27 04:47] alexlouden opened #48 "Logo SVG in /docs/ is now 404ing"
Just noticed in the docs the SVG logo is missing: https://storybook.js.org/docs/basics/introduction/

SVG url: https://storybook.js.org/images/logos/logo-storybook.svg

![Screen Shot 2019-05-27 at 12 42 38 pm](https://user-images.githubusercontent.com/1332954/58395992-434e8f00-807d-11e9-983e-fe4e2fe82695.png)

Had a quick poke around to see if I could see what caused it, maybe was introduced by #4

[2019-05-31 20:40] domyen commented on #48
Thanks for reporting will get out a fix!

[2019-05-31 20:50] domyen commented on #12
Closing this now. Thanks everyone. Our pagespeed score is now 97/100 for desktop.

[2019-05-31 20:50] #12 closed

[2019-06-01 00:01] domyen commented on #40
@shilman how about we update the team page to something like this.
✅ Highlights maintainers who have gone above and beyond to become domain experts
✅ Shows more amazing contributors to give a better sense of how large the community actually is
![image](https://user-images.githubusercontent.com/263385/58740411-2be90c00-83c5-11e9-9667-7230eadaa35e.png)

[2019-06-01 01:49] #14 closed

[2019-06-01 01:49] #48 closed

[2019-09-09 16:54] domyen opened #66 "Fix Medium integration"
The Gatsby medium integration no longer works due to an upstream change at Medium. https://github.com/gatsbyjs/gatsby/issues/17335

I removed it in [this PR](https://github.com/storybookjs/frontpage/pull/65) but hope that we can reenable it with help from the community. Anyone want to take this on?

[2019-10-22 13:46] divyanshu-rawat commented on #40
Hello @shilman , @domyen Hope you guys are doing well, I am plannig to contribute to some open source projects so if possible could you guys please let me know if this issue is still open, and if yes can I work on it?

[2019-10-25 22:11] divyanshu-rawat commented on #40
@shilman any update on the above issue?

[2019-10-25 22:28] domyen commented on #40
@divyanshu-rawat Would love some help implementing this.

[2019-11-18 20:51] leerob opened #73 "Docs page is crashing when trying to access "Getting Started"."
## Steps To Reproduce

1. Visit https://storybook.js.org/docs/basics/introduction/
2. See console error

![image](https://user-images.githubusercontent.com/9113740/69092752-b0caef00-0a12-11ea-8142-3b42a62f0b3d.png)

After about 5 minutes, it started working again. I'm guessing there's some intermittent-ness with that CDN link for docsearch. Maybe the page can be more resilient if that fails and yo

[2019-11-25 08:38] divyanshu-rawat commented on #40
@domyen , As far as I can see, this is how the current implementation looks like, so my Question is what id the goal of this issue? is it about re-designing the existing design to the one that you have added above.

<img width="1657" alt="Screenshot 2019-11-25 at 09 36 39" src="https://user-images.githubusercontent.com/13464678/69524869-47456600-0f67-11ea-85c1-5e39d48f9d3d.png">

[2019-11-26 16:05] domyen commented on #40
Yea that's correct (but not with my face repeated everywhere 😅). For GitHub contributors you can likely reuse some of the work @kylesuss did for [LearnStorybook.com](learnstorybook.com) (scroll down to the bottom).

Will leave the **maintainers** section to be curated by @shilman.

[2019-12-05 12:39] divyanshu-rawat commented on #40
@domyen Cool, will start working on this issue, and ping you if I struck. 👍

[2019-12-05 16:13] kylesuss commented on #40
Hey @divyanshu-rawat , here is a link to the component that fetches GitHub contributors for your ref:

https://github.com/chromaui/learnstorybook.com/blob/master/src/components/screens/IndexScreen/Community.js

[2019-12-07 10:54] divyanshu-rawat commented on #40
Thanks @kylesuss , As far as I can see in the team screen, contributors are hardcoded instead of fetching them from GitHub.

[code]

I am planning to start with writing a call to api, to fetch them, for that I will create a draft PR, on the project once I am done with it I will change the status to ready to review. 🚀

[2019-12-07 12:24] divyanshu-rawat commented on #40
@domyen  currently TeamItem looks like the below attached img.
<img width="226" alt="Screenshot 2019-12-07 at 12 55 51" src="https://user-images.githubusercontent.com/13464678/70374619-b8d0cd00-18f4-11ea-964c-39bcacadab85.png">

And the UI you added above, the text in it is left-aligned.

<img width="263" alt="Screenshot 2019-12-07 at 13 23 35" src="https://user-images.githubusercontent.com/134646

[2019-12-09 17:05] kylesuss commented on #40
@divyanshu-rawat yes the contributors are hard coded on the contributors screen, but the homepage has a dynamic section which fetches them from GitHub. That is what I linked you to.

[2019-12-10 09:25] divyanshu-rawat commented on #40
@kylesuss so in summery you mean, I just have to map the fetched contributors from homepage to contributors screen?.

[2019-12-10 16:29] kylesuss commented on #40
@divyanshu-rawat I would summarize as:

You can use this exact component from the learnstorybook.com repo (copy & paste it into this repo & rename as appropriate):
https://github.com/chromaui/learnstorybook.com/blob/42931804d166edb991ce2327896087cf4a6562db/src/components/screens/IndexScreen/Community.js#L128-L154

In doing so, you will be able to build the contributors section for this repo:

![Sc

[2019-12-10 22:25] divyanshu-rawat commented on #40
@kylesuss  Cool, that what I meant thanks :)

[2019-12-11 22:08] divyanshu-rawat commented on #40
@kylesuss hey 👋 , Here is the first iteration of PR #78 , feel free to review and share your feedback 👍

[2020-01-18 23:46] TomerAberbach opened #87 "Font families alternate in code blocks"
The fonts in the code blocks of many pages (e.g. [Standalone Options](https://storybook.js.org/docs/configurations/standalone-options)) alternate between Ubuntu Mono and Fira Code for me.

It appears that the `#docs-content .markdown code` selector sets `font-family` to `Consolas, Liberation Mono, Menlo, Courier, monospace`. I do not have any of those font families installed so the fallback `monos

[2020-01-21 13:57] gabriel-kohen-by opened #88 "Website goes blank when accessing https://storybook.js.org/docs/testing/react-ui-testing/"
When navigating to the page above, it initially shows up and then disappears after a second or so.
Tested on:
MacBook Pro 2018 10.14.6
Chrome Version 79.0.3945.130 (Official Build) (64-bit)
Safari Version 13.0.4 (14608.4.9.1.4)
See attached logs
[storybook.js.org-1579614792123.log](https://github.com/storybookjs/frontpage/files/4091363/storybook.js.org-1579614792123.log)

[2020-01-21 14:00] shilman commented on #88
check your connection and clear your cache? it works for me.

[2020-01-21 14:05] gabriel-kohen-jdas commented on #88
Forgot to mention. Was running it in Incognito mode so no cache and connection speed seems to be OK:
![image](https://user-images.githubusercontent.com/57095228/72811070-e36cb000-3c2c-11ea-8ca7-a19b9d9d9901.png)
PING github.com (140.82.114.4): 56 data bytes
64 bytes from 140.82.114.4: icmp_seq=0 ttl=53 time=14.377 ms
64 bytes from 140.82.114.4: icmp_seq=1 ttl=53 time=23.477 ms
64 bytes from 140.82

[2020-01-21 14:21] gabriel-kohen-jdas commented on #88
Interesting tidbit. I do have Cisco Anyconnect running on my Mac (although not connected).
It might be related to this issue: https://github.com/storybookjs/storybook/issues/8193

[2020-01-21 14:32] shilman commented on #88
Ah I missed the "shows up and disappears" part. Sounds like some JS error. Anything in the browser console?

[2020-01-21 14:33] gabriel-kohen-jdas commented on #88
See attached log for stacktrace. Thanks!

[2020-03-20 11:32] sebastian-nowak opened #94 "Broken link in the 'Writing Presets' article"
1. Go to https://storybook.js.org/docs/presets/writing-presets/
2. Ctrl + f for `this is not possible using standard webpack configuration`
3. Click the `standard webpack configuration`

The link leads to https://storybook.js.org/docs/presets/custom-webpack-config/ which doesn't exist

[2020-03-22 13:45] domyen commented on #94
Thanks for the report @sebastian-nowak, def appreciate it! This repo is for the static marketing pages and not the docs. Will transfer it to the right location now.

[2020-03-25 18:24] domyen opened #95 "Update Formidable logo"
They have a new brand https://twitter.com/FormidableLabs/status/1242858783925088258

[2020-04-01 19:19] domyen commented on #95
Fixed in #96

[2020-04-01 19:19] #95 closed

[2020-06-18 22:45] kylesuss commented on #88
This appears to be fixed. Can reopen if that's not the case.

[2020-06-18 22:45] #88 closed

[2020-06-18 22:48] kylesuss opened #105 "What's new page"
* Setup the hierarchy for the what's new page & the various versions
* Link to the what's new page from the header
* Setup page template/component for each version
* Document how to use/add new version docs
* Allow switching between versions
* Setup logic to alter state when shown in an iframe
* Do not index on Google when in iframe

[2020-07-08 13:58] domyen opened #115 "Flash of 404 page when navigating to the releases page"
https://www.loom.com/share/8fd73c013248491cb224b19caecdf0f3

**Repro**
- Navigate to [deploy preview](https://deploy-preview-109--storybook-frontpage.netlify.app/releases/5.3/)
- Click on Releases link
- See 404 flash into view (right before the content resolves)

[2020-07-08 14:00] domyen commented on #115
Can't seem to reproduce this on master.

[2020-07-08 14:00] #115 closed

[2020-07-09 00:50] tmeasday commented on #115
Yeah I think this issue is fixed, on prod at least. Let me know if you see it again though, I'm not 100% sure it is fixed in all circumstances (e.g. develeopment)

[2020-07-10 07:23] #105 closed

[2020-07-30 00:23] shilman opened #121 "Undefined contributors on homepage"
https://twitter.com/pkcodes/status/1288606244626993153?s=21

https://twitter.com/pkcodes/status/1288609560014532612?s=21

[2020-07-30 06:02] dakebl commented on #121
@shilman @domyen I've raised PR #122 to add a hardcoded version of the contributor count back to the site.

The plugin I had made to get the data was broken by the GitHub redesign and seemed to have been failing silently since by looks of it. I've now retired the package all together as a result, so I've added a hardcoded contributor count to the sitemeta dataset, which makes it accessible everywh

[2020-07-30 18:30] #121 closed

[2020-08-03 23:12] kylesuss opened #127 "gatsby-source-github-repo missing on npm"
gatsby-source-github-repo is not available on npm so the builds are failing. Seems like we need to find a replacement.

Example: https://circleci.com/gh/storybookjs/frontpage/501?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2020-08-04 02:44] tmeasday commented on #127
@kylesuss it looks like this issue was fixed (/created?) by @dakebl in https://github.com/storybookjs/frontpage/pull/122 -- I think the problem will go away if we merge `master` into `next` your branch. I'll try that now.

[2020-08-05 13:54] domyen commented on #127
Yea this was fixed :)

[2020-08-05 13:54] #127 closed

[2020-08-11 23:23] Too-Far opened #147 "Get 404 when attempting to visit https://storybook.js.org/docs/data"
When attempting to visit https://storybook.js.org/docs/data, I get a 404 redirect page instead.

[2020-08-12 01:38] domyen commented on #147
Thanks for the report. That doesn't seem like a valid url. Did this work before? If so, where did it link?

[2020-08-12 01:57] domyen commented on #87
Hey Tomer, I think this has either been fixed in the new docs site or doesn't refer to the marketing site. Reopen if still a problem.

[2020-08-12 01:57] #87 closed

[2020-08-12 01:57] #73 closed

[2020-08-12 02:18] TomerAberbach commented on #87
Yup, looks like it's fixed in the new docs site!

[2020-08-12 02:45] Too-Far commented on #147
I haven't ever tried it before, I just followed it tonight looking for some info

[2020-08-12 03:16] domyen commented on #147
Got it, I don't think that it was a valid url previously (just looked at webarchive.org). As such, will close this. Thanks for the report!

[2020-08-12 03:16] #147 closed

[2020-08-12 07:36] shilman opened #150 "Add addon-toolbars to addons page"
Follow up to #149

Needs an icon

[2020-08-12 16:13] shrivathsagkumar opened #151 "UI Options link broken"
The link
https://storybook.js.org/docs/angular/configure/user-interface
is broken.

[2020-08-12 19:13] domyen commented on #151
Hey @shrivathsagkumar, where did you find the link? AFAICT from a project-wide search we don't link there.

[2020-08-12 22:32] domyen commented on #150
Released

[2020-08-12 22:32] #150 closed

[2020-08-13 04:57] shilman opened #155 "Code block on mobile inconsistent"
![image](https://user-images.githubusercontent.com/488689/90095778-3db59580-dd64-11ea-8b8e-2a729709dd4a.png)

On the toolbars page. Lower down on the same page:

![image](https://user-images.githubusercontent.com/488689/90095756-2d9db600-dd64-11ea-93df-0d3c39dc8ed9.png)

[2020-08-13 13:58] shrivathsagkumar commented on #151
Hi,
I found this link under 'Configure Storybook’s UI' section in https://storybook.js.org/docs/angular/configure/overview#configure-story-rendering

[2020-08-13 14:55] jonniebigodes commented on #151
@shrivathsagkumar sorry for that small mistake. And @domyen thanks for taking the time for the pull request. I'm going to merge it soon.

[2020-08-13 16:18] domyen commented on #155
Yes this is very strange indeed. I can reproduce this on my iPhone and in the iOS simulator at this link https://storybook.js.org/docs/react/essentials/toolbars-and-globals

@kylesuss is this something you can take a look at? Is this the CodeSnippets component?

[2020-08-13 19:36] kylesuss commented on #155
Is the issue that the font sizes are different? If so, likely not the CodeSnippets component. Anyway, I will take a look but want to understand if it is something else in addition to the font size.

[2020-08-13 23:14] domyen commented on #155
There's a font-size difference.

I also don't see the commented out filenames at the beginning of the code snippets (e.g., `// .storybook/preview.js`).

| Mobile  | Desktop  |
|---|---|
| ![IMG_743B6B2F4902-1](https://user-images.githubusercontent.com/263385/90196194-3197fb00-dd99-11ea-865a-2c00ab04d91d.jpeg) | <img width="534" alt="Screen Shot 2020-08-13 at 7 12 08 PM" src="https://user-images.gi

[2020-08-14 20:09] kylesuss commented on #155
@domyen thanks that is helpful. You're right about it being (at least partially) an issue w/ the design system -- didn't expect that. I'll take a look at this early next week.

[2020-08-15 18:53] #151 closed

[2020-08-17 14:32] lawnchamp opened #159 "Broken links in "Configure your Storybook project""
In https://storybook.js.org/docs/react/configure/overview#configure-your-storybook-project there are links to a custom webpack and babel configuration that are broken

### Webpack
**text:** "webpackFinal - custom webpack configuration"
**link:** https://storybook.js.org/docs/react/configure/integration#extending-link: storybooks-webpack-config

### Babel
**text:** babel - custom babel configuratio

[2020-08-17 15:45] domyen commented on #159
Thanks, I believe this is now fixed per [this commit](https://github.com/storybookjs/storybook/commit/cb32b1445ec05979c2bbb7aafd5b75432988d8e7), just awaiting a push to docs from @shilman

[2020-08-17 15:45] #159 closed

[2020-08-17 15:49] lawnchamp commented on #159
oh awesome, it is fixed now! Thanks!

[2020-08-21 08:41] silvicardo opened #162 "Writing Docs - DocBlocks - Custom Addons Link not working"
This link is broken
<p>Custom <a href="../configure/user-interface#storybook-addons">addons</a> can also provide their own doc blocks.</p>

[2020-08-22 03:52] shilman opened #163 ""Configure" pages not indexed?"
When I type in headings from the "Configure" section (e.g. Webpack, Theming, Sidebar, etc.) I only see results from the other sections. It doesn't look like any of those pages are indexed by Algolia?

[2020-09-06 04:11] Diorla opened #169 "Link is broken"
The following [link](https://storybook.js.org/docs/react/configure/writing-stories/decorators#global-decorators) is broken. I followed the link from another storybook page, [styling and css](https://storybook.js.org/docs/react/configure/styling-and-css/) but it gave me 404 error.

[2020-09-08 23:55] domyen commented on #169
Thanks for the issue, this seems resolved now. Reopen if the issue is still there.

[2020-09-08 23:55] #169 closed

[2020-09-10 13:08] Laassari opened #171 "404 link in the release page"
In the page: [https://storybook.js.org/releases/6.0](https://storybook.js.org/releases/6.0)

the link to `changelogs` is https://github.com/storybookjs/storybook/blob/next/CHANGELOG when it should be https://github.com/storybookjs/storybook/blob/next/CHANGELOG.md

PS: this problem doesn't exist in https://github.com/storybookjs/frontpage/blob/master/src/content/releases/6.0.md

[2020-10-07 02:30] kylesuss commented on #163
https://github.com/algolia/algoliasearch-netlify/#indexing

Reminder for myself: Give this bew plug in a try and see if you get any useful feedback in the crawler ui about why these pages are missing.

[2020-10-08 21:51] jonniebigodes opened #177 "[Bug] Docs Page API Feature Support for frameworks"
### Describe the bug
While triaging broken links in the documentation i've encountered a broken link to one of the addons, more specifically the queryparams one.

### Steps to reproduce the behavior

1. Go to [Feature support for frameworks](https://storybook.js.org/docs/react/api/frameworks-feature-support)
2. Click on query-params addon
3. Leads to 404 in GitHub, with the following url (https://

[2020-10-08 23:44] jonniebigodes commented on #177
Closing this as it's not a issue for the front page but in the Storybook monorepo. Thanks @kylesuss for the heads up.

[2020-10-08 23:44] #177 closed

[2020-10-09 18:48] habemuscode opened #179 "[Bug] Addons page one link is broken"
### Describe the bug

[In this page](https://storybook.js.org/addons) the link of community-addon info is broken (404)

### Expected behavior

Should be changed or removed if addon is deprecated

### Screenshots and/or logs

![image](https://user-images.githubusercontent.com/34692207/95620594-b8531680-0a70-11eb-9c1c-43f05ebd915b.png)

[2020-10-09 19:38] habemuscode commented on #179
![image](https://user-images.githubusercontent.com/34692207/95624745-a628a680-0a77-11eb-8043-c15c0cdd8eb3.png)

`frontpage/src/components/screens/AddonScreen.js`

[2020-10-09 19:39] habemuscode commented on #179
I don't have permission to create a PR so... I put information for fast localization

[2020-10-09 22:45] kylesuss commented on #155
The text sizing issue was fixed. Still need to see what's up with the comments missing on iOS

[2020-10-09 22:52] kylesuss commented on #155
@domyen I just got around to testing this on a real device. I see the comments:
![snippet](https://user-images.githubusercontent.com/3035355/95637742-b9278080-0a4f-11eb-9e69-c77e31b4f7e4.jpg)

Can you look into this since I can't reproduce the problem? I feel a bit limited in debugging here since both the simulator and the iPhone 11 I tried to test this seem to render the comments just fine.

[2020-10-13 16:03] domyen commented on #155
I still don't see them. Let's get a sanity check from someone else. My iphone 11 could be wrong.

@shilman could you go to this url https://storybook.js.org/docs/react/get-started/setup on your iphone and check if you see code comments in the snippets?

![4A4D2727-5F88-42F8-8514-85AB0207B6E6_1_102_o](https://user-images.githubusercontent.com/263385/95885821-bbd5ee80-0d4b-11eb-83dd-2729c4144ddb.jpe

[2020-10-13 16:05] shilman commented on #155
This is what i see @domyen

![image](https://user-images.githubusercontent.com/488689/95886218-e1e1aa00-0db0-11eb-933e-50b40802ddf7.png)

[2020-10-13 16:10] domyen commented on #155
Thanks for the quick reply @shilman. Looks like my phone is somehow bonked (lucky me). Closing this issue now. Thanks for sorting it out @kylesuss!

[2020-10-13 16:10] #155 closed

[2020-10-14 15:16] kylesuss commented on #163
This is fixed now! I got some help from Algolia. I guess I needed to add the sitemap to the config file too 🤦

https://github.com/algolia/docsearch-configs/commit/87f2fac5482fbd25e84b0f2ce281809ce57100c6

[2020-10-14 15:16] #163 closed

[2020-10-15 20:10] #171 closed

[2020-11-06 12:24] T04435 commented on #43
Adding : `NODE_ENV=production` did not sove the issue for me.

[code]

[2020-11-19 10:49] mahammedzkhan opened #187 "[Bug] Naming and hierarchy page is broken"
**Describe the bug**
The page which displays naming and hierarchy is broken:
https://storybook.js.org/docs/react/writing-stories/naming-components-and-hierarchy

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://storybook.js.org/docs/react/writing-stories/naming-components-and-hierarchy
2. See JS error

**Expected behavior**
Ability to read the documentation

**Screenshots**
![im

[2020-11-19 15:23] shilman commented on #187
Fixed. Thanks @mahammedzkhan

[2020-11-19 15:23] #187 closed

[2020-11-19 20:25] saibotsivad opened #188 "Add example documentation for WebpackDevServer"
(Note: I would have made a pull request, but I couldn't get Gatsby working on my laptop. I suspect the laptop is too old.)

## Context

A common project setup for mono-repos is to make use of the NodeJS module resolution algorithm to avoid needing relative file paths by having a deeper `node_modules` folder that holds project libraries.

Typically that looks something like this:

[code]

Then insi

[2020-11-19 22:05] saibotsivad commented on #188
P.S. If someone points me to the right place to add documentation, if it's not too complicated I can take a swing at it and make a pull request. It looks like probably this page is where it would go? https://storybook.js.org/docs/react/configure/webpack

[2020-12-12 18:15] domyen commented on #188
Thanks for the detailed issue @saibotsivad. 🙏

The source markdown file for that page lives here: https://github.com/storybookjs/storybook/blob/next/docs/configure/webpack.md

This repo is only for the frontend appearance and not the underlying docs content.

[2020-12-15 17:43] #188 closed

[2020-12-16 15:25] domyen opened #199 "Addon page: Twitter card is not valid"
The `/addons` path of the website doesn't generate a Twitter card.

When I go here https://cards-dev.twitter.com/validator there is an error.

You can also reproduce by going to twitter, adding the url to a tweet, and seeing if twitter automatically generates a card (it doesn't).

Thanks for reporting this @pauliescanlon

[2020-12-16 15:48] winkerVSbecks commented on #199
@domyen none of the frontpage pages seem to work for Twitter cards. Is this a regression? Because I didn’t touch the base layout.

[2020-12-16 17:33] domyen commented on #199
That's strange. I did a cursory search and it doesn't seem like we define
the card meta at all. Perhaps you're right and they never worked.

Docs here:
https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started

On Wed, Dec 16, 2020 at 10:48 AM Varun Vachhar <notifications@github.com>
wrote:

[2020-12-17 18:00] AndrewSouthpaw opened #243 "Website docs jitter on scroll."
**Describe the bug**

Go to https://storybook.js.org/docs/react/get-started/introduction on Chrome 87 and scroll.

See screengif.

![demo](https://user-images.githubusercontent.com/5187404/102525063-a3859700-404e-11eb-96d2-b294dc70cdb7.gif)

Maybe it's just my machine?

[2020-12-18 00:52] habemuscode commented on #179
Closed as the addon was deprecated

[2020-12-18 00:52] #179 closed

[2020-12-18 22:23] #199 closed

[2021-01-20 18:15] domyen opened #205 "[Bug] Addon catalog QA"
**Detail page**
- [x] "View on GitHub" button doesn't link to the Readme
- [x] Relative urls in Readme's don't work – we need to transform the paths like we did with Storybook Documentation
- [x] Change spacing from 16px to 24px here
![image](https://user-images.githubusercontent.com/263385/105215546-40cc6300-5b06-11eb-8d07-b51947014ad7.png)
- [x] Table elements extend beyond the readme layout
![i

[2021-01-24 02:54] seonghyeonkimm opened #213 "[Bug] addon detail pages return 404 error page"
### Describe the bug

- When clicking every addon card item in [addon page](https://storybook.js.org/addons/essentials), it return 404 error page

### Steps to reproduce the behavior

1. Go to  [addon page](https://storybook.js.org/addons/essentials)
2. Click on any addon card item.
3. Then, you can find out 404 error page

### Expected behavior

- When clicking the card item, it should be linked

[2021-01-24 10:11] shilman commented on #213
Fixed now. Thanks for the heads up!

[2021-01-24 10:11] #213 closed

[2021-01-24 12:55] rbardini opened #214 "[Bug] Published addon metadata not reflected on catalog"
### Describe the bug

The [Paddings addon](https://www.npmjs.com/package/storybook-addon-paddings) metadata has been updated in https://github.com/rbardini/storybook-addon-paddings/commit/43382f541a4465ed7b8b6d146016a0a6a1b446dc, but those changes have not been reflected in the addon catalog a month after.

### Steps to reproduce the behavior

1. Run `npm view storybook-addon-paddings description

[2021-02-02 17:03] domyen commented on #214
@shilman Is this a crawler issue?

[2021-02-02 23:32] shilman commented on #214
`addons.yml` is not synced with the site, so it was using the stale curated data which takes precedence over the crawled data. I've fixed this by hand and we'll come up with a better way to solve this in the future.

[2021-02-02 23:32] #214 closed

[2021-02-10 17:56] winkerVSbecks commented on #205
This is because of curated data. Will be fixed once the metadata PRs go out and we can drop curated data.

[2021-02-20 01:33] jonniebigodes opened #228 "[Bug] Missing WebComponents install instructions"
### Describe the bug

With a recent change to the documentation that refines the instructions on how to install Storybook for various frameworks, more specifically [this pr](https://github.com/storybookjs/storybook/pull/13591), and how to troubleshoot install instructions. It's now leading to some missing information regarding web components install and the troubleshooting at the bottom of said pa

[2021-02-25 00:57] doublejosh opened #233 "Wrong Readme for Addons on storybook.js.org"
Addon pages show the root Storybook readme file rather than the readme for the addon.

**To Reproduce**
Addon pages like these...
https://storybook.js.org/addons/@storybook/addon-knobs
https://storybook.js.org/addons/@storybook/addon-queryparams

**Expected behavior**
Should show the readme file like these...
https://github.com/storybookjs/storybook/tree/next/addons/knobs
https://github.com/storyb

[2021-02-25 03:39] yogeshwar1996 opened #234 "Vue edition of storybook tutorial not found"
### Page Not Found

On the page https://storybook.js.org/tutorials/intro-to-storybook/react/en/get-started/ the link to see the Vue edition of story book tutorial is redirecting to a page where it says "NOT FOUND"

### Steps to reproduce the behavior

1. Go to 'https://storybook.js.org/tutorials/intro-to-storybook/react/en/get-started/'
2. Click on hyperlink which says 'Vue'
3. See error

### Expe

[2021-02-25 15:49] domyen commented on #234
@jonniebigodes Can you update these urls?

In the past, we had redirects to handle this case but they were pretty brittle (case in point).

[2021-02-25 15:54] domyen commented on #233
@shilman the frontend (i.e., /frontpage) gets these readme URLs from the addon catalog backend?

[2021-02-25 16:23] jonniebigodes commented on #234
@yogeshwar1996 thank your bringing this to our attention. I'm going to take a look at those links and adjust them accordingly.

@domyen a pull request will be up shortly.

[2021-02-26 16:15] #234 closed

[2021-02-26 16:17] jonniebigodes commented on #234
@yogeshwar1996 once again thank you for bringing this to our attention. I ran the content from end to end and adjusted the links accordingly. Please let me know if any of them is broken. Re-open the issue and point me and i'll take care of it.

Stay safe

[2021-03-01 04:22] yogeshwar1996 commented on #234
Its working now. Thanks.

[2021-03-20 21:14] TheMightyPenguin opened #242 "[Bug] Some images are broken in the Addon details page"
### Describe the bug

In some Addon details pages, like the following:

1. https://storybook.js.org/addons/storybook-addon-designs
2. https://storybook.js.org/addons/storybook-dark-mode
3. https://storybook.js.org/addons/storybook-zeplin

The images within the README contents appear broken in the addon details page. Not sure what's the cause, as there are different scenarios:

1. For `storybook-ad

[2021-03-27 16:04] domyen commented on #243
First time I've seen this. Going to close, happy to reopen if it's a widespread issue.

(It doesn't happen on my machine)

[2021-03-27 16:04] #243 closed

[2021-03-27 16:07] domyen opened #249 "[Bug] Addons sidebar "active" state doesn't apply when the category is selected"
### Describe the bug

When I click on a category link in the Addon Catalog sidebar, the active state doesn't appear. This may be a regression, I believe it worked when we released.

![image](https://user-images.githubusercontent.com/263385/112726618-c3054900-8ef4-11eb-9a20-2b631b51fbeb.png)

### Steps to reproduce the behavior

1. Go to https://storybook.js.org/addons/tag/code/
2. See that the "Co

[2021-03-27 17:22] #249 closed

[2021-04-20 19:26] AndrewSouthpaw commented on #243
Yeah problem seems to have gone away for me too. Maybe Chrome was just having a day. 🤷🏼‍♂️

[2021-04-23 02:23] SimeonC opened #258 "[Bug] Addon is not added to the catalogue"
### Describe the bug

I have followed the steps in the "add new addon" catalogue and my addon is still not showing up in the catalogue. As far as I can tell my package.json is setup correctly with all the right data. Could someone have a look and see if I'm missing something? Thanks.
Addon: https://github.com/SimeonC/storybook-xstate-addon

### Steps to reproduce the behavior

1. Go to the storybo

[2021-04-23 13:58] domyen commented on #258
Hey that's strange. It seems your package.json details are correct and it's been a few hours so the crawler should have picked it up. I'll look into it further. Thanks for the report @SimeonC

[2021-04-23 14:10] winkerVSbecks commented on #258
@SimeonC your addon was using the `displayName` as `Addon Kit`. The catalog filters out all such addons. Looks like you updated it. We'll trigger another crawl and it should be picked up now.

[2021-04-23 14:30] SimeonC commented on #258
Ahh so I just wasn't patient enough after my last attempt. It's showing up now thanks for helping!

[2021-04-23 14:30] #258 closed

[2021-05-05 18:37] kaelig opened #263 "Addons catalog: @storybook/addon-xxx display the repo's top-level README"
**Describe the bug**

Several `@storybook/addon-xxx` addon pages in the catalog (https://storybook.js.org/addons) display the top-level README instead of their own READMEs.

**To Reproduce**

Not sure all addons are impacted, but these were:

- https://storybook.js.org/addons/@storybook/addon-backgrounds
- https://storybook.js.org/addons/@storybook/addon-a11y

![Screen Shot 2021-05-05 at 11 35 53

[2021-05-30 06:31] Anmolreshi opened #272 "Added Design to footer Links"
Hi Team !
I would like to work on Footer section of your website especially on hovering of footer icons . Kindly assign me this issue so that I can work

[2021-05-31 08:06] Showrin opened #273 "Doc page of `Accessibility Addon` is showing the wrong doc"
**Describe the bug**
When I went to the doc page of **`Accessibility Addon`** (https://storybook.js.org/addons/@storybook/addon-a11y), it should show the instructions about how to config this addon and run it. But the doc was showing the info about the storybook.

![image](https://user-images.githubusercontent.com/28985234/120161542-4145da80-c219-11eb-9441-2e8f9bc381f4.png)

**To Reproduce**
Go to

[2021-05-31 08:11] Showrin opened #274 "Image links are broken in the Doc page of `Storysource Addon`"
**Describe the bug**
On the doc page of `Storysource Addon` (https://storybook.js.org/addons/@storybook/addon-storysource), several images are not showing. Links of these images were facing 404 errors.

![image](https://user-images.githubusercontent.com/28985234/120162007-c630f400-c219-11eb-861e-b5f49f3e4eb6.png)

![image](https://user-images.githubusercontent.com/28985234/120162079-d9dc5a80-c219-

[2021-06-22 09:28] greg84 opened #277 "[Bug] 404 error on page for storybook-addon-i18n (was working yesterday)"
### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the behavior

1. Go to https://storybook.js.org/addons/storybook-addon-i18n/
2. See 404 error

### Expected behavior

No 404 error. This page was working up to yesterday.

[2021-06-25 00:33] domyen commented on #277
Thanks for the report Greg. It's working today when I navigate to that page. Might have been a blip in the CDN? Closing for now, if it's still an issue please re-open.

[2021-06-25 00:33] #277 closed

[2021-06-26 21:34] domyen commented on #272
Thanks for the interest Anmol. We're currently not taking design updates for the footer.

[2021-06-26 21:34] #272 closed

[2021-06-27 23:04] domyen commented on #274
@jonniebigodes did we change the location of the demo images in this repo?

[2021-06-28 15:06] winkerVSbecks commented on #273
duplicate of #263

[2021-06-28 15:06] #273 closed

[2021-06-28 15:07] #242 closed

[2021-06-28 15:08] winkerVSbecks commented on #233
duplicate of #263

[2021-06-28 15:08] #233 closed

[2021-06-28 15:08] #205 closed

[2021-06-28 15:09] #25 closed

[2021-06-28 15:09] #66 closed

[2021-06-28 17:16] TheMightyPenguin commented on #242
@winkerVSbecks oh I see this is fixed now, nice! Where was it fixed? (just curious about it)

[2021-06-28 17:45] winkerVSbecks commented on #242
Github readme's often use relative links for images. Which breaks on npm and the addon catalog. A cleaner approach is to upload images in github issues and then use the full url. The readme's were updated to use those full urls.

[2021-06-28 22:09] jonniebigodes commented on #274
@domyen, not that I'm aware of. Something is going on in here as the images are being fetched from the monorepo root as opposed to the addon's folder itself. For instance the first image is being fetched from "https://raw.githubusercontent.com/storybookjs/storybook/HEAD/docs/demo.gif".

[2021-07-07 01:52] shilman commented on #263
This was a bug in the `package.json` of `addon-a11y` and AFAIK doesn't affect any of the other addons. @coderkevin and I fixed the problem and it should propagate through the system over the next few weeks (I probably need to do another 6.3.x release first, etc.). I'll follow up here when it's fixed.

[2021-07-08 14:41] shilman commented on #263
Fixed: https://storybook.js.org/addons/@storybook/addon-a11y

[2021-07-08 14:41] #263 closed

[2021-07-13 10:42] stefan-schweiger opened #283 "[Bug] Many (popular) addons lead to 404 pages"
### Describe the bug

Many addons on the frontpage currently lead to a `404 Page not found`

Examples:
https://storybook.js.org/addons/chromatic/
https://storybook.js.org/addons/@storybook/addon-postcss/
https://storybook.js.org/addons/storybook-addon-angular-ivy/
https://storybook.js.org/addons/@geometricpanda/storybook-addon-badges/

But some still work without a problem:
https://storybook.js.or

[2021-07-13 10:55] adrianbielawski commented on #283
My addon also doesn't work https://storybook.js.org/addons/storybook-color-picker/

[2021-07-13 17:30] domyen commented on #283
All the addon pages appear to be working when I click on them. @winkerVSbecks do you know anything about why this could happen?

[2021-07-13 17:35] winkerVSbecks commented on #283
Working here too. There was a Netlify outage earlier. I wonder if that caused the issue.

[2021-07-14 12:35] stefan-schweiger commented on #283
@domyen @winkerVSbecks seems to be working again, so probably it was the Netlify outage. Thanks anyways!

[2021-07-14 12:35] #283 closed

[2021-07-16 13:42] winkerVSbecks opened #284 "Superfluous `#gatsby-focus-wrapper` added to urls"
### Describe the bug

The documentation pages end up with a unnecessary `#gatsby-focus-wrapper` anchor in the url

### Steps to reproduce the behavior

1. Go to https://storybook.js.org/docs/react/get-started/introduction
2. Search for something
3. Click one of the pages that come up in the search typeahead
4. The page you navigate to should have `#gatsby-focus-wrapper` in the url

### Expected be

[2021-07-29 22:30] jonniebigodes commented on #274
@Showrin closing this issue as it's now fixed. I pushed a pr earlier today to fix the issue. It seems that it originated from how the assets were being loaded.

Thanks for bringing this to our attention.

Stay safe

[2021-07-29 22:30] #274 closed

[2021-09-01 18:27] laneparton commented on #43
In case anyone else finds this looking for answers, I finally was able to resolve the issue with a combination of:

1. https://github.com/gatsbyjs/gatsby/issues/26099#issuecomment-785821013
2. https://github.com/storybookjs/frontpage/issues/43#issuecomment-493798728

[2021-09-21 16:17] riccardogiorato opened #292 "Would you be interested in having a PR with a Github workflow to replace Circle Ci?"
## Hello Storybook team!

![](https://i.pinimg.com/originals/9e/a7/2e/9ea72ef078139ced289852e8a4ea0c5c.gif)

Would you be interested in having a PR with a Github workflow to replace Circle Ci? 😃

Would you be open to accept this PR if it takes less time than Circle Ci to do the same steps?
Are you required to use only Circle Ci for the frontpage project for some legal reasons?

Thank you for story

[2021-09-21 23:18] winkerVSbecks commented on #292
Hey @riccardogiorato, not really. It's an unnecessary disruption without much benefit. Plus it'll require a design change across multiple repos, since we credit CircleCI in the footer.

[2021-09-21 23:18] #292 closed

[2021-10-03 12:56] olejech opened #295 "Search bar bug"
### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the behavior

1. Go to search addons input
2. Typing long text
3. See CSS bug

### Expected behavior

A text is placed in input box

### Screenshots and/or logs

<img width="729" alt="Снимок экрана 2021-10-03 в 15 50 54" src="https://user-images.githubusercontent.com/64708593/135754616-72bd3280-f9cb-4

[2021-10-04 15:34] #295 closed

[2021-10-06 22:04] literalpie opened #299 "[Bug] Addon not included in Catalog: storybook-addon-rtl"
### Describe the bug

I have followed the instructions in the guide, but the addon is not showing in the addon catalog. It has been almost 48 hours since I last updated the information.

### Steps to reproduce the behavior

Search for "rtl" in the addon catalog (you may need to add, and then remove a space). Some similar addons exist, but this one is not shown: `storybook-addon-rtl`

### Additiona

[2021-10-08 02:39] winkerVSbecks commented on #299
It's been enabled. Will show up on the site in a few hours when the new build is deployed.

[2021-10-08 12:41] #299 closed, assigned to nobody

[2021-10-19 20:06] forivall opened #301 "[Bug] Addon image incorrect location"
### Describe the bug

With my addon that i just published, the addon page doesnt load the image. It loads on the npm page and the github page.

### Steps to reproduce the behavior

1. Go to https://storybook.js.org/addons/storybook-addon-monitor
2. Note the "Screenshot" - it links to https://raw.githubusercontent.com/docs/screenshot.png

### Expected behavior

The image source should be as it is s

[2021-10-20 15:51] Justin-Bento opened #302 "[Enhancement] Navigation links."
### Describe the bug

As the title says, navigation links padding are too small and  point

A clear and concise description of what the bug is.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots and/or logs

If applicable, add screensho

[2021-10-20 15:51] #302 closed

[2021-11-02 04:40] kaelig opened #307 "[Bug] Use cases / Atlassian & Algolia buttons don't work"
### Steps to reproduce the behavior

1. Go to https://storybook.js.org/use-cases
2. Scroll down to the "Create components", see logos that appear below the animation
2. Click on Atlassian or Algolia logos

### Expected behavior

Animation switches to the appropriate brand's one.

### Screenshots and/or logs

<img width="983" alt="Screen Shot 2021-11-01 at 9 35 07 PM" src="https://user-images.githu

[2021-11-02 20:31] #307 closed

[2021-11-03 23:21] domyen commented on #307
Thanks for reporting, it's fixed now 🙏

[2021-11-04 11:47] 0little opened #309 "Docs 404"
### Describe the bug

The url "https://storybook.js.org/addons/@storybook/addon-docs/" 404

### Steps to reproduce the behavior

1.search "Docs" with "https://storybook.js.org/addons/"
2.The first item of the list is "Docs"，click it, 404

[2021-11-04 14:30] winkerVSbecks commented on #309
@0little thanks for reporting. There was a faulty build that went out. Should be fixed now.

[2021-12-29 01:48] shilman opened #325 "[Bug] Blog search navigation broken"
### Describe the bug

When I search the blog and click on a result, nothing happens

<img width="1027" alt="Articles___Storybook_Blog" src="https://user-images.githubusercontent.com/488689/147619751-fd1c44f7-e964-4e2c-8d3d-8c06c918922b.png">

Reproduced on my Mac in Chrome, Safari, and Firefox

[2021-12-29 07:13] zentby opened #326 "[Bug] Missing Workflow Docs"
### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the behavior

1. Go to https://storybook.js.org/docs/react/workflows/faq#why-arent-the-addons-working-in-a-composed-storybook
2. See the page is not loading

### Expected behavior

The page and the workflow section should display

### Screenshots and/or logs

![image](https://user-images.githubusercon

[2021-12-29 15:17] domyen commented on #326
@zentby Thanks for catching this. You can find the correct section here https://storybook.js.org/docs/react/faq#why-arent-the-addons-working-in-a-composed-storybook

@kylegach did we end up shipping the redirects for these pages?

When I go to the old `https://storybook.js.org/docs/react/workflow/publish-storybook`, it should redirect me to `https://storybook.js.org/docs/react/sharing/publish-stor

[2021-12-29 16:39] kylegach commented on #326
@domyen — Yes, the redirects are deployed. However, I [copied the existing pattern in that file](https://github.com/storybookjs/frontpage/blob/master/static/_redirects#L84-L94) and didn't include the framework in the URL. 🤦‍♂️

Need to think about the best way to handle, because I don't think we should manually include redirects for all of the frameworks.

[2021-12-29 21:50] zentby commented on #326
Thanks for pointing it out. I didn't realize the `workflow` had been renamed to `share`.
FYI The link was coming from the search result.

[2021-12-29 21:51] domyen commented on #326
@zentby We just changed this a few days ago so thanks for catching the url breakage :)

[2021-12-30 00:03] kylegach commented on #326
@winkerVSbecks — This may be related to #325 🤔

[2022-01-04 18:36] winkerVSbecks commented on #326
@kylegach don't think so. There are two different search systems (one for docs and one for blog). The blog wouldn't show docs pages in results.

[2022-01-05 22:59] #325 closed

[2022-01-13 17:06] sitek94 opened #328 "[Bug] Website crashes when entering "pos" in Search Addon input"
### Describe the bug

Website crashes when searching for an addon, and typing `pos`.

### Steps to reproduce the behavior

1. Go to [addons](https://storybook.js.org/addons)
2. Click on "Search Addons" input
3. Type: `pos`
4. See error

### Expected behavior

Website shouldn't blow up.

### Screenshots and/or logs

https://user-images.githubusercontent.com/58401630/149375447-5a86c0b8-24b4-473b-824

[2022-01-13 19:40] #328 closed

[2022-01-14 20:29] toddgaunt opened #330 "Dead Link in Composition Docs"
The following [link](https://storybook.js.org/docs/react/sharing/storybook-publish) at the top of this [page](https://storybook.js.org/docs/react/sharing/storybook-composition) is dead.

[2022-01-14 21:49] jonniebigodes commented on #330
@toddgaunt thanks for the time you took to create this issue we appreciate it. I've just pushed a pull request to fix this issue. If you wouldn't mind, for any documentation issues similar to this one, please open an issue in the Storybook repo and mention me so that I can take a look at it and follow up with you, as this repo is for the Storybook website.

Hope you don't mind but I'm closing this

[2022-01-14 21:49] #330 closed

[2022-01-15 00:56] toddgaunt commented on #330
Hey @jonniebigodes not sure what you mean? I'd be happy to report elsewhere, but I just followed the issue link that the link 404'd at. Isn't the repo for the website where this is appropriate to make an issue?

[2022-01-15 16:08] jonniebigodes commented on #330
Hi @toddgaunt and to answer your question, yes this is the repo for the website and related issues to it. But we don't track documentation issues here, but rather in the [Storybook monorepo](https://github.com/storybookjs/storybook) instead.

Sorry about the confusion.

Stay safe

[2022-02-25 20:44] danielrobertson opened #347 "Docs page 404"
### Describe the bug

### Steps to reproduce the behavior

1. Go to https://storybook.js.org/ and click Docs or navigate directly to the Docs page, https://storybook.js.org/docs/react/get-started/introduction
4. See 404

### Expected behavior

The docs page is live or redirected to a new docs URL

### Screenshots and/or logs

![image](https://user-images.githubusercontent.com/3459902/155799869-12e

[2022-02-25 20:45] danielrobertson commented on #347
**Update**: after a few moments of refreshing, the URL is live again! Maybe the deployment process takes the site offline intermittently and I just happened to catch a window of downtime?

Closing issue

[2022-02-25 20:45] #347 closed

[2022-03-01 00:26] shilman opened #349 "[Bug] Blog search links broken"
### Describe the bug

1. Go to the blog homepage: https://storybook.js.org/blog/
2. Type a query in the search box. The results are reasonable.
3. Click on a result => nothing happens.

Have tried this in both Chrome & Safari on MacOS so I think it's a problem with the site and not a browser issue (but haven't dug in)

[2022-03-01 00:47] winkerVSbecks commented on #349
@shilman seems to work fine for me. It's all client side search so, I'm wondering if it is slow to load.

[2022-03-18 08:56] simongoot commented on #43
Follow this setup guide, solves many gatsby related issues, Links, Queries, etc:
https://www.gatsbyjs.com/docs/how-to/testing/visual-testing-with-storybook/#manual-configuration

[2022-04-13 18:23] #349 closed

[2022-04-17 18:55] sjhomer commented on #43
As of today, attempting the steps @simongoot posted via the official Gatsby docs are not working for me, with Storybook v6.4.22 and Gatsby v4.12.1 on a basic gatsby starter.. Thankfully @patriziosotgiu solution listed above does work!

It seems just forcing the `NODE_ENV` isn't enough to have `babel-plugin-remove-graphql-queries` leverage the built public Gatsby folder, and only forcing the plugin

[2022-05-10 07:38] tobemaster56 opened #364 "[Bug] page 404"
### Describe the bug

when i visit this page，

https://storybook.js.org/docs/6.5/react/configure/webpack#bundle-splitting

it reports 404, i visit this page from

https://storybook.js.org/blog/storybook-performance-from-webpack-to-vite/

![image](https://user-images.githubusercontent.com/8998761/167574871-0758b6b1-3a60-42d2-a9d6-05a6fc4e7422.png)

[2022-05-10 12:53] winkerVSbecks commented on #364
Yea, that page moved: https://storybook.js.org/docs/6.5/react/builders/webpack#code-splitting

I'll update the post too. Thanks

[2022-05-10 12:53] #364 closed

[2022-05-12 09:36] JesusTheHun opened #560 "Badges in addon README displayed weirdly"
**Describe the bug**

![Screenshot 2022-05-12 at 11 35 05](https://user-images.githubusercontent.com/94478/168040458-64e0f28f-b6f9-415b-ad30-6e36659be676.png)

The README on GitHub : https://github.com/JesusTheHun/storybook-addon-react-router-v6/blob/main/README.md
The raw README : https://raw.githubusercontent.com/JesusTheHun/storybook-addon-react-router-v6/main/README.md

[2022-06-16 15:21] pomali opened #371 "[Bug] Missing Readme from Addon detail"
### Describe the bug

README.md is not loading into addon detail for https://storybook.js.org/addons/storybook-addon-stylerscloud

### Steps to reproduce the behavior

1. Go to https://storybook.js.org/addons/storybook-addon-stylerscloud
2. Readme is missing
3. Open github/npm and see that README.md is there

### Expected behavior

Readme should be visible 😅

[2022-06-16 17:17] winkerVSbecks commented on #371
It's a private repo: https://github.com/stylers-cloud/storybook-addon-stylerscloud so we can't access the files from it.

[2022-06-16 17:17] #371 closed

[2022-06-16 17:27] pomali commented on #371
Thank you for info 🙂 maybe it should be added to docs, since in documentation there is only mention of npm.

[2022-10-01 17:19] winkerVSbecks opened #395 "Remember 'framework' choice across multiple visits to the site"
Folks that use frameworks other than React have to constantly change the URL as google searches always point to 'react'.

I'm not sure how we would implement this with out current architecture. We could track framework choice in local storage, check for it on load and redirect.

Suggested by https://discord.com/channels/486522875931656193/490822681307119618/1025744945685991525

[2022-10-01 19:12] thedamon commented on #395
This would be amazing to haveMaking it "opt in" ("Remember my framework choice on this browser", or a separate drop-down to save framework preference) might be another way to look at this which would have less chance of confusing folks and could aid implementation

[2022-10-07 19:12] codewithshubhi opened #396 "[Bug]added url shows error"
### Describe the bug

The documentation pages end up with a unnecessary #gatsby-focus-wrapper anchor in the url

### Steps to reproduce the behavior

1. Go to https://app.netlify.com/sites/storybook-frontpage/settings/deploys#environment
2. See error

### Expected behavior

Should be able to view the webpage and navigate using route.

### Screenshots and/or logs

![image](https://user-images.githu

[2022-10-08 14:17] aditi824 commented on #396
I want to contribute to this issue.

[2022-10-08 17:20] winkerVSbecks commented on #396
duplicate of #284

[2022-10-08 17:20] #396 closed

[2022-10-13 12:50] asheerrizvi opened #397 "Docs: Add next and previous buttons to navigate documentation"
**Is your feature request related to a problem? Please describe**
The guides section should have buttons to navigate from the current page to the next or the previous page.

**Describe the solution you'd like**
Something like the following screenshot (from react-testing-library):

<img width="1058" alt="image" src="https://user-images.githubusercontent.com/17976252/195588700-eb6b7c8a-f514-4c65-8b4

[2022-10-13 12:51] asheerrizvi commented on #397
Copied the PR template from the main repo :P

[2022-10-17 19:48] jonniebigodes opened #399 "[Bug] Issue with development set up"
### Describe the bug

After following the instructions outlined [here](https://storybook.js.org/docs/react/contribute/new-snippets#preview-your-work) when a user starts the website with `yarn start:skip-addons`, he's faced with the following errors in the console:

![gatsby-cli-issue](https://user-images.githubusercontent.com/22988955/196266685-1a3b163c-a026-4f67-9ec2-d3f39debea12.png)

Although t

[2022-10-18 15:49] winkerVSbecks commented on #399
I believe this is because we need credentials to make queries for the homepage. I’ll look at an alternative option so that folks can run it without the creds.

[2022-10-19 01:15] TomFreudenberg opened #401 "[Question] Listing addon in catalog"
Hi,

I have added a storybook addon functionality to my component:

https://github.com/TomFreudenberg/next-auth-mock

Now I tried to complete the registration for the addon catalog from:

https://storybook.js.org/docs/react/addons/addon-catalog/

The requirements can not be filled like described on the page:

name: https://github.com/TomFreudenberg/next-auth-mock/blob/master/package.json#L2
preset

[2022-10-19 08:04] jonniebigodes commented on #399
Thanks for looking into this @winkerVSbecks appreciate it 🙏 !

[2022-10-21 18:56] Aryan2314 commented on #397
Sir, I can add the next and previous buttons. Can you assign it to me?

[2022-10-22 10:27] winkerVSbecks commented on #397
@Aryan2314 we're in the process of redesigning the docs so it doesn't make sense to make this change now.

[2022-10-22 10:27] #397 closed

[2022-10-24 15:44] winkerVSbecks commented on #401
Hi @TomFreudenberg, I'm not sure I follow. Particularly this part:

The config in your `package.json` looks good to me.

The catalog works by scraping npm however, it hasn't picked up your addon. Did you publish it after adding the Storybook addon to your package?

[2022-10-24 15:52] TomFreudenberg commented on #401
Hi Varun @winkerVSbecks

no, I added it before publishing the NPM

What do I mean with:

Currently if you look at the npm it consists of "two" npm's if we may say for a moment.

1st: npm with general MockSessionContext (src/index.js)
2nd: (npm) with storybook addon in subfolder src/storybook

Therefor it is not only a npm in conjunction with storybook.

For that I am not sure if this meets the req

[2022-10-24 22:49] winkerVSbecks commented on #401
Ah okay. Sorry I got confused by your use of "npm".

NPM is the package registry and what you publish are the packages. Right now you just have one. That's totally fine. If you publish it again with the current changes (that is, the storybook property in `package.json`), it should be picked up by the addon catalog.

The catalog crawls NPM a couple times in a day. Let me know when you publish the u

[2022-10-25 10:59] TomFreudenberg commented on #401
Hi Varun @winkerVSbecks

thanks for helping and guiding me again.

I have published a new release with the updated package.json

Sorry that I missed, I hadn't pushed already.

Cheers
Tom

[2022-10-25 12:06] TomFreudenberg commented on #401
Super, it worked

[2022-10-25 12:06] #401 closed

[2022-11-02 14:53] akafaneh opened #408 "[NOT A BUG] a question regarding the usage of nextjs and gatsby"
I didn't find a discussion section on this repo so i didn't know where to ask elsewhere, i saw in a blog post of yours about the revamp of the website that you use gatsby and nextjs, i tried to figure out how it is all connected but i failed, is there any place to look how you done that tech wise?

is it a monorepo with microfrontends kind of arch? or just iframes?
great work btw!

![Screenshot 20

[2022-11-03 12:27] mexitalian opened #409 "[Bug] storybook-static build uses absolute path for iframe.<hash>.js resulting in 404"
### Describe the bug

The generated static storybook build breaks when served from a sub-folder as the `iframe.html` looks for its JS at the server root `<script type="module" crossorigin src="/assets/iframe.<hash>.js"></script>`.

v6.5.9

### Steps to reproduce the behavior

1. run `npx build-storybook`
2. run a local server one level above the `storybook-static` folder, e.g. npm `serve` or uploa

[2022-11-03 12:45] mexitalian commented on #409
Sorry wrong place. Will post to

[2022-11-03 12:45] #409 closed

[2022-11-03 14:12] winkerVSbecks commented on #408
Hey @akafaneh great question. The site is actually multiple JAMstack sites deployed under one domain. We use Netlify redirects and reverse proxy to deploy subsections at specific paths (`/blog` and `/showcase`)

Most pages lives in this repo but blog and showcase are in separate repositories. We have a design system and a set of shared components that are used across all the projects.

[2022-11-03 14:12] #408 closed

[2022-11-03 15:18] akafaneh commented on #408
thanks for the reply, the website looks cool and what you've done is interesting!

[2022-11-29 17:25] geromegrignon commented on #228
@jonniebigodes, sorry to bother you, but could you provide the commands to run the documentation website locally?
I can't find anything in contributing guidance (and would be happy to contribute to improving them).

[2022-11-29 17:38] winkerVSbecks commented on #228
@geromegrignon the updated instructions are [here](https://github.com/storybookjs/frontpage#gatsby-instructions): `yarn start:docs-only`

[2022-11-29 17:49] jonniebigodes commented on #228
@geromegrignon I pushed an [update](https://github.com/storybookjs/storybook/pull/20011) just a few hours ago, updating the contribution documentation to address issues similar to the one you've faced. It's already merged in. It will require being added to the current version of the documentation as well.

[2022-11-29 18:21] winkerVSbecks commented on #228
The frameworks list comes from here: https://github.com/storybookjs/storybook/blob/next/docs/frameworks.js#L2

You're right that the split is probably necessary but we'll need to account for the web-components case.

cc: @kylegach

[2022-11-29 18:38] winkerVSbecks commented on #228
Yea, I think you're right. Let's give it a go. We can test with a preview.

[2022-11-29 18:54] kylegach commented on #228
Agreed that the `.split` logic can be removed. It seems like `frameworks` used to use a different naming convention?

[2022-11-30 17:01] geromegrignon commented on #228
I checked the preview:
- no regression on the existing working frameworks docs
- the installation snippet now works for web-components

[2022-11-30 17:03] #228 closed

[2022-11-30 17:04] #399 closed